
[run]
# omit anything in a virtualenv directory anywhere
omit =
    /home/travis/virtualenv/*
    *.yml
    /home/travis/img/*
    /home/travis/drivers/*
    /home/travis/software/*
    /home/travis/captcha_images/*
    /home/travis/allure-report/*
    /home/travis/allure-results/*
    __init__*
    *.md
    docs/*